*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background-color: white;
    height: 80px;
    width: 100%;
   position: fixed;
}
label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;   
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}
a.active,a:hover{
    background-color:lightcyan;
    transition: .5s;
}
.CenterText{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px; 
}
.container1{
    position: relative;
    width: 25%;
    display: inline-block;
}
.topleft{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 20px;
    background-color: black;
}
.container2{
    position: relative;
    width: 25%;
    display: inline-block;
}
.container3{
    position: relative;
    width: 25%;
    display: inline-block;
}
.container4{
    position: relative;
    
    display: inline-block;
}
.container1{
    position: relative;
    width: 25%;
    display: inline-block;
}
.topleft{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 20px;
    background-color: black;
}
.container2{
    position: relative;
    width: 25%;
    display: inline-block;
}
.container3{
    position: relative;
    width: 25%;
    display: inline-block;
}
.container4{
    position: relative;
    
    display: inline-block;
}
.container{
    width: 100%;
    height: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-flow: wrap;
}
.box{
    width: 250px;
    height: 250px;
    margin: 20px;
    box-sizing: border-box; 
}
